@import "Mixins";

.CheckList{
    @include flex(flex-start, space-between, column);
    
    &, &Test{
        width: 100%;
    }
    
    &Test{
        margin-bottom: $offset3;
        @include flex(space-between);
        
        &Text{
            white-space: nowrap;
        }
        
        &Result{
            margin-left: $offset4;
            text-align: right;
            font-size: $fontsize3;
        }
    }
}