@import "Mixins";

.PageLists{
    @include flex(flex-start, stretch, column);
    position: relative;
    width: 100%;
    height: var(--mainHeight);
    
    &ListNames{
        @include flex(flex-start);
        flex-wrap: wrap;    
        font-size: $fontsize3;
    }
    
    &ListName{
        @include defaultTransition;
        padding: $offset1;
        border: 2px solid #0000;
        color: var(--colorText);
        border-radius: 10px;
        margin: $offset1;
        cursor: pointer;
        box-shadow: var(--makeInset);
        
        &:hover{
            color: var(--colorTextPlus);
            border-color: var(--colorTextPlus);
        }
        
        &Active, &Active:hover{
            color: var(--colorBright);
            border-color: var(--colorBright);
        }
    }
}