@import "Mixins";

.RateStars{
    $StarRes: 35px;
    width: 100%;
    min-height: $StarRes;
    @include flex;
    flex-wrap: nowrap;
    
    &, & *{
        @include defaultTransition;
    }
    
    cursor: pointer;
    &Frozen{
        cursor: default;
        pointer-events: none;
    }
    
    &Wrapper{
        position: relative;
        @include flex;
    }
    
    &Digit{
        font-size: $fontsize1;
        pointer-events: none;
        position: absolute;
        right: -$offset3;
    }
    
    & > *{
        color: var(--colorText);
        pointer-events: none;
        width: 100%;
        height: $StarRes;
    }
    
    &:hover{
        & > *{
            color: var(--colorStars);
        }
    }
}