@import "Mixins";

.MainPage{
    @include flex(flex-start, center, column);
    position: relative;
    width: 100%;
    height: var(--mainHeight);
}

.Pic{
    filter: var(--pictureFilter);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: var(--zBg);
}

.Help{
    z-index: var(--zFg);
    @include flex(flex-start, stretch, column);
    
    &Item{
        @include flex(space-between);
        @include defaultTransition;
        &Link{
            text-decoration: none;
        }
        
        $padding1: 10px;
        padding: $padding1 $offset4 $padding1 $padding1;
        margin: $offset2;
        
        border-radius: 100vmax;
        background-color: var(--colorTransparent);
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
        
        &Icon{
            @include flex;
            @include rect($offset5r);
            @include circle;
            border: 2px solid var(--colorBright);
            color: var(--colorBright);
            font-size: $fontsize1;
        }
        
        &Content{
            color: var(--colorText);
            margin-left: $offset5;
            font-size: $fontsize1r;
        }
    }
}