@import "Mixins";

.Hints{
    position: fixed;
    top: var(--headerHeight);
    right: 0;
    @include flex(flex-start, flex-end, column);
    z-index: var(--zHints);
    
    @media (max-width: $smaller){
        top: calc(var(--headerHeight)*1.66);
    }
}

.Hint{
    $gray1: #8883;
    $gray2: #8883;
    background-image: 
        linear-gradient(to right, $gray1, $gray2),
        linear-gradient(var(--colorBright), var(--colorBright))
    ;
    margin-bottom: $offset3;
    @include flex;
    max-width: 33vw;
    pointer-events: none;
    
    transition-duration: 500ms;
    opacity: 1;
    clip-path: inset(0 0 0 100%);
    
    &Error{
        background-image: none;
        background-color: red;
    }
    
    &Expanding{
        clip-path: inset(0 0 0 0);
    }
    &Fading{
        clip-path: inset(0 0 0 100%);
    }
    &Shrinking{
        height: 0;
        margin: 0;
    }
    
    &Msg{
        word-wrap: break-word;
        font-size: $fontsize2;
        padding: $offset2;
        color: #fff;
    }
    
    &CloseBtn{
        pointer-events: all;
        @include rect($offset5);
        @include circle;
        @include defaultTransition;
        font-size: $fontsize4;
        color: #fff;
        background-color: #0005;        
        
        &:hover{
            transform: rotate(180deg) scale(1.25);
            text-shadow: none;
        }
        
        &Wrapper{
            @include flex;
            align-self: stretch;
            background-color: #fff5;
            padding: $offset2;
            padding-right: $offset1;
            border-radius: 50% 0 0 50%;
        }
    }
}







