.Hints{
    position: fixed;
    top: var(--headerHeight);
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    padding-right: 0;
    z-index: var(--zHints);
}

.Hint{
    $gray1: #8883;
    $gray2: #8883;
    background-image: 
    linear-gradient(to right, $gray1, $gray2),
    linear-gradient(var(--colorBright), var(--colorBright))
    ;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 33vw;
    pointer-events: none;
    
    transition-duration: 500ms;
    opacity: 1;
    clip-path: inset(0 0 0 100%);
    
    &Error{
        background-image: none;
        background-color: red;
    }
    
    &Expanding{
        clip-path: inset(0 0 0 0);
    }
    &Fading{
        clip-path: inset(0 0 0 100%);
    }
    &Shrinking{
        height: 0;
        margin: 0;
    }
    
    &Msg{
        word-wrap: break-word;
        font-size: 20px;
        padding: 10px;
        color: #fff;
    }
    
    &CloseBtn{
        pointer-events: all;
        $res: 40px;
        width: $res;
        height: $res;
        font-size: 33px;
        color: #fff;
        border-radius: 50%;
        background-color: #0005;        
        transition-duration: var(--defaultTransitionTime);
        
        &:hover{
            transform: rotate(180deg) scale(1.25);
            text-shadow: none;
        }
        
        &Wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            background-color: #fff5;
            padding: 10px;
            padding-right: 5px;
            border-radius: 50% 0 0 50%;
        }
    }
}







