.header{
    width: 100vw;
    height: var(--headerHeight);
    box-shadow: var(--panelShadow);
    z-index: var(--zHeader);
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &Section{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &Left{
        justify-content: flex-start;
    }
    
    &Right{
        justify-content: flex-end;
    }
}






