@import "Mixins";

.ModalLogin{
    @include flex(flex-start, center, column);
    background-color: var(--colorBody);
    padding: $offset5;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 var(--colorBright), 0 0 0 100vmax #000a;
    z-index: var(--zModal);
    position: relative;
    width: 100%;
    height: 100%;
    
    &Wrapper{
        @include center;
        z-index: var(--zModal);
        position: fixed;
    }
    
    &Input{
        width: 100%;
        box-shadow: var(--makeInset);
        margin-bottom: $offset5;
    }
    
    &Input, &ButtonsButton{
        @include defaultTransition;
        color: var(--colorText);
        border: 2px solid #0000;
        font-size: $fontsize2;
        border-radius: 100vmax;
        padding: $offset2;
    }
    
    &Input:hover, &ButtonsButton:hover{
        color: var(--colorTextPlus);
        border-color: var(--colorTextPlus);
    }
    &Input:focus, &ButtonsButton:active{
        color: var(--colorBright);
        border-color: var(--colorBright);
    }
    
    &Buttons{
        @include flex(space-between, center, column);
        &Button{
            width: 100%;
            border-color: var(--colorText);
            margin-bottom: $offset5;
            white-space: nowrap;
        }
    }
    
    @media (max-width: $smaller){
        padding: $offset2;
        border-radius: 5px;
        box-shadow: 0 0 3px 0 var(--colorBright), 0 0 0 100vmax #000a;
    }
}

.CloseBtn{
    @include rect($offset5r);
    @include circle;
    @include defaultTransition;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);

    font-size: $fontsize3;

    background-color: var(--colorBody);
    color: var(--colorText);
    border: 3px solid var(--colorText);
    
    &:hover{
        transform: translate(50%, -50%) rotate(180deg) scale(1.25);
        color: var(--colorBright);
        border-color: var(--colorBright);
    }
}

















