@import "Mixins";

.GitLink{
    font-size: $fontsize3;
    cursor: pointer;
    @include defaultTransition;
    color: var(--colorTextPlus);
    
    &:hover{
        color: var(--colorBright);
        transform: scale(1.25);    
    }
}