.ModalAddToList{
    background-color: var(--colorBody);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #fff, 0 0 0 100vmax #000a;
    z-index: var(--zModal);
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    
    &ListsSection{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    
    &Wrapper{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    &CloseBtn{
        background-color: var(--colorBody);
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
        $res: 40px;
        font-size: 32px;
        color: var(--colorText);
        width: $res;
        height: $res;
        border-radius: 50%;
        border: 3px solid var(--colorText);
        transition-duration: var(--defaultTransitionTime);
        
        &:hover{
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translate(50%, -50%) rotate(180deg) scale(1.25);
            color: var(--colorBright);
            border-color: var(--colorBright);
        }
    }
}

.List{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    transition-duration: var(--defaultTransitionTime);
    
    &:hover{
        background-color: #8882;
    }
    
    &Name{
        font-size: 24px;
        font-weight: 600;
    }
    
    &Checkbox{
        margin-left: 20px;
        $res: 40px;
        border-radius: 10px;
        width: $res;
        height: $res;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--colorText);
        border: 3px solid var(--colorText);
        transition-duration: var(--defaultTransitionTime);
        
        &:hover{
            color: var(--colorTextPlus);
            border-color: var(--colorTextPlus);
        }
        &:active{
            color: var(--colorBright);
            border-color: var(--colorBright);
        }
    }
}

.NewList{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    & input{
        color: var(--colorText);
        padding: 10px;
        border: 3px solid var(--colorText);
        width: 100%;
        transition-duration: var(--defaultTransitionTime);
        border-radius: 10px;
        font-size: 20px;
        &:hover{
            color: var(--colorTextPlus);
            border-color: var(--colorTextPlus);
        }
        &:focus{
            color: var(--colorBright);
            border-color: var(--colorBright);
        }
    }
}









