@import "Mixins";

.ModalAddToList{
    @include flex(flex-start, center, column);    
    background-color: var(--colorBody);
    padding: $offset4;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #fff, 0 0 0 100vmax #000a;
    z-index: var(--zModal);
    font-size: $fontsize3;

    position: relative;
    width: 100%;
    height: 100%;
    
    &TitleName{
        word-wrap: break-word;
        max-width: 33vw;
        text-align: center;
    }
    
    &ListsSection{
        @include flex(flex-start, center, column);    
        margin-top: $offset4;
        width: 100%;
    }
    
    &Wrapper{
        z-index: var(--zModal);
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    &CloseBtn{
        @include rect($offset5r);
        @include defaultTransition;
        background-color: var(--colorBody);
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
        font-size: $fontsize3;
        color: var(--colorText);
        border-radius: 50%;
        border: 3px solid var(--colorText);
        
        &:hover{
            @include flex;
            transform: translate(50%, -50%) rotate(180deg) scale(1.25);
            color: var(--colorBright);
            border-color: var(--colorBright);
        }
    }
}

.List{
    @include flex(space-between);
    width: 100%;
    padding: $offset2;
    border-radius: 10px;
    transition-duration: var(--defaultTransitionTime);
    
    &:hover{
        background-color: #8882;
    }
    
    &Name{
        font-size: $fontsize3;
        font-weight: 600;
    }
    
    &Checkbox{
        @include rect($offset5);
        @include defaultTransition;
        margin-left: $offset3;
        border-radius: 10px;
        color: var(--colorText);
        border: 3px solid var(--colorText);
        
        &:hover{
            color: var(--colorTextPlus);
            border-color: var(--colorTextPlus);
        }
        &:active{
            color: var(--colorBright);
            border-color: var(--colorBright);
        }
    }
}

.NewList{
    width: 100%;
    @include flex(space-between, center, column);

    & input{
        @include defaultTransition;
        color: var(--colorText);
        padding: $offset2;
        border: 3px solid var(--colorText);
        width: 100%;
        border-radius: 10px;
        font-size: $fontsize2;
        &:hover{
            color: var(--colorTextPlus);
            border-color: var(--colorTextPlus);
        }
        &:focus{
            color: var(--colorBright);
            border-color: var(--colorBright);
        }
    }
}









