@import "Mixins";

.Search{
    $SearchHeight: 40px;
    @include flex;
    flex-wrap: nowrap;
    
    &Input{
        transition-duration: var(--defaultTransitionTime);
        box-shadow: var(--makeInset);
        height: $SearchHeight;
        margin-right: $offset4r;
        border-radius: 100vmax;
        text-align: center;
        color: var(--colorText);
        font-size: $fontsize1;
        font-weight: 600;
        border: 2px solid transparent;
    }
    
    &Input:hover, &GoButton:hover{
        color: var(--colorTextPlus) !important;
        border-color: var(--colorTextPlus) !important;
    }
    
    &Input:focus, &GoButton:active{
        color: var(--colorBright) !important;
        border-color: var(--colorBright) !important;
    }
    
    &GoButton{
        @include defaultTransition;
        @include rect($offset5r);
        @include circle;
        font-size: $fontsize2;
        box-shadow: var(--makeOutset);
        color: var(--colorText);
        border: 2px solid transparent;
    }
}

















