.footer{
    width: 100vw;
    height: var(--footerHeight);
    box-shadow: var(--panelShadow);
    z-index: var(--zFooter);
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}