.main{
    flex-grow: 1;
    overflow: hidden;
    background-color: var(--colorMain);
    
    &Content{
        width: 100vw;
        max-height: calc(100vh - var(--headerHeight) - var(--footerHeight));
        padding: 10px;
        
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow: auto;
    }
}
















