@import "Mixins";

.main{
    flex-grow: 1;
    overflow: hidden;
    &Content{
        width: 100vw;
        max-height: var(--mainHeight);
        padding: $offset2;
        
        @include flex(flex-start, center, column);
        overflow: auto;
        
        @media (max-width: $smaller){
            height: calc(100vh - var(--headerHeight) * 1.66);
        }
    }
}
















