.main{
    flex-grow: 1;
    overflow: hidden;
    &Content{
        width: 100vw;
        max-height: var(--mainHeight);
        padding: 10px;
        
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        overflow: auto;
    }
}
















