*, *::after, *::before{
    box-sizing: border-box;
}

:root {
    --themeName: none;
    
    --zHeader: 1000;
    --zFooter: 1000;
    --zModal: 2000;
    --zHints: 3000;
    
    --zBg: 250;
    --zFg: 500;
    
    --defaultTransitionTime: 255ms;
    
    --headerHeight: 75px;
    --footerHeight: 45px;
    --mainHeight: calc(100vh - var(--headerHeight) - var(--footerHeight));
    
    --panelShadow: 0 0 50px 0 var(--shadowColorPanel);
    --makeOutset: 
        2px 2px 5px 0 var(--shadowColorA),
        -2px -2px 5px 0 var(--shadowColorB)
    ;
    
    --makeThumbInset: 
        -5px -5px 10px 0 var(--shadowColorA), 
        5px 5px 10px 0 var(--shadowColorB)
    ;
    
    --makeInset: 
        -2px -2px 5px 0 var(--shadowColorA),
        2px 2px 5px 0 var(--shadowColorB)
    ;
}

button, a{
    cursor: pointer;
}

button, input, textarea{
    background: none;
    outline: none;
    border: none;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--colorBody);
    color: var(--colorText);
    font-size: 16px;
}

h1{
    font-size: 24px;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 999px;
    background-color: #8885;
}

*::-webkit-scrollbar-thumb {
    background-color: #fff3;
    border-radius: 999px;
}

*::selection {
    color: var(--colorBody);
    background: var(--colorBright);
}









