.TitleCard{
    $cardColorA: #fff1;
    $cardColorB: #0000;
    $cardColorInset: #fff2;
    
    width: 340px;
    height: 575px;
    background-color: #fff1;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    
    font-size: 20px;
    
    background: radial-gradient(circle at center bottom, $cardColorA, $cardColorB);
    box-shadow: 0 0 20px 0 var(--shadowColorPanel), 0 0 10px 0 $cardColorInset inset;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
    &, & > *{
        transition-duration: var(--defaultTransitionTime);
    }
    cursor: pointer;
    
    &Thumb{
        width: 320px;
        height: 450px;
        border-radius: 10px;
        object-fit: cover;
    }
    
    &Title{
        text-align: center;
        font-weight: 600;
    }
    
    &Extra{
        width: 0;
        height: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: none;
    }
    
    &AddToList{
        transition-duration: var(--defaultTransitionTime);
        border: 2px solid var(--colorText);
        border-radius: 100vw;
        padding: 5px;
        padding-left: 10px;
        font-size: 20px;
        color: var(--colorTextPlus);
        
        &, & div{
            border: 3px solid var(--colorText);
        }
        
        & div{
            transition-duration: var(--defaultTransitionTime);
            display: flex;
            justify-content: center;
            align-items: center;
            $res: 30px;
            width: $res;
            height: $res;
            font-size: 24px;
            border-radius: 50%;
        }
        
        &:hover{
            &, & div{
                color: var(--colorBright);
                border-color: var(--colorBright);
            }
            & div{
                transform: rotate(180deg);
            }
        }
    }
    
    &:hover{
        & .TitleCardThumb{
            width: 240px;
            height: 240px;
            border-radius: 50%;
            
            box-shadow: var(--makeThumbInset);
            margin-bottom: 10px;
        }
        
        & .TitleCardExtra{
            width: 90%;
            height: auto;
            display: flex;
        }
        
        & * {
            // margin: 5px 0;
        }
    }
}









