@import "Mixins";

.TitleCard{
    @include flex(space-between, center, column);
    $cardColorA: #fff1;
    $cardColorB: #0000;
    $cardColorInset: #fff2;
    
    width: 340px;
    height: 575px;
    background-color: #fff1;
    // overflow: hidden;
    margin: $offset2;
    padding: $offset2 $offset2 $offset3 $offset2;
    border-radius: 15px;
    
    font-size: $fontsize2;
    
    background: radial-gradient(circle at center bottom, $cardColorA, $cardColorB);
    box-shadow: 0 0 20px 0 var(--shadowColorPanel), 0 0 10px 0 $cardColorInset inset;
    
    &Matched{
        box-shadow: 0 0 10px 0 var(--colorBright), 0 0 10px 0 $cardColorInset inset;
    }
    
    &, & > *{
        transition-duration: var(--defaultTransitionTime);
    }
    cursor: pointer;
    
    &Thumb{
        width: 320px;
        height: 450px;
        border-radius: 10px;
        object-fit: cover;
    }
    
    &Title{
        text-align: center;
        font-weight: 600;
    }
    
    &Extra{
        @include flex(space-between);
        width: 0;
        height: 0;
        display: none;
    }
    
    &AddToList{
        transition-duration: var(--defaultTransitionTime);
        border: 2px solid var(--colorText);
        border-radius: 100vw;
        padding: $offset1;
        padding-left: $offset2;
        font-size: $fontsize2;
        color: var(--colorTextPlus);
        
        &, & .TitleCardExtraRight{
            border: 3px solid var(--colorText);
        }
        
        & .TitleCardExtraRight{
            @include defaultTransition;
            @include rect($offset4r);
            @include circle;
        }
        
        &:hover{
            &, & .TitleCardExtraRight{
                color: var(--colorBright);
                border-color: var(--colorBright);
            }
            & .TitleCardExtraRight{
                transform: rotate(180deg) scale(1.25);
            }
        }
    }
    
    &:hover{
        padding: $offset2r;
        & .TitleCardThumb{
            border-radius: 50%;
            width: 240px;
            height: 240px;
            
            box-shadow: var(--makeThumbInset);
            margin-bottom: $offset6;
        }
        
        & .TitleCardExtra{
            width: 90%;
            height: auto;
            display: flex;
        }
    }
}









