@import "Mixins";

.ModalTitle{
    @include flex(flex-start, center, column);
    background-color: var(--colorBody);
    padding: $offset5;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #fff, 0 0 0 100vmax #000a;
    z-index: var(--zModal);
    font-size: $fontsize3;
    position: relative;
    width: 100%;
    height: 100%;

    &Wrapper{
        @include center;
        position: fixed;
        z-index: var(--zModal);
        max-height: 90vh;
    }
    
    @media (max-width: $smaller){
        padding: $offset1;
    }
}

.CloseBtn{
    @include rect($offset5r);
    @include circle;
    @include defaultTransition;
    background-color: var(--colorBody);
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    font-size: $fontsize3;
    color: var(--colorText);
    border: 3px solid var(--colorText);
    
    &:hover{
        transform: translate(50%, -50%) rotate(180deg) scale(1.25);
        color: var(--colorBright);
        border-color: var(--colorBright);
    }
}

.Title{
    @include flex(center, stretch);
    &Left{
        width: 50%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        max-height: 80vh;
        padding-right: $offset4;
    }
    
    &Right{
        margin-left: $offset5;
        width: 50%;
        height: 100%;
    }
    
    &Name{
        font-size: $fontsize4;
        font-weight: 600;
        margin-bottom: $offset2;
        max-width: 100%;
    }
    
    &Thumb{
        width: 100%;
        border-radius: 10px;
        @media (max-width: $smaller){
            display: none;
        }
    }
    
    &Info{
        width: 100%;
        @include flex(flex-start);
        &Label{
            font-style: italic;
        }
        &Content{
            margin-left: $offset4;
        }
    }
    
    &Tag{
        margin-right: $offset2;
        &s{
            @include flex(flex-start);
            flex-wrap: wrap;
        }
    }
    
    &Rates{
        &Yours{
            margin-top: $offset5;
        }
        
        &Label{
            font-size: $fontsize2;
            margin-bottom: $offset2;
        }
    }
    
    &Descr{
        margin-top: $offset3;
        &Label{
            
        }
        
        &Content{
            $max: 550px;
            font-style: italic;
            padding: $offset2;
            &Wrapper{
                overflow: hidden;
                max-height: $max;
            }
            overflow: auto;
            max-height: $max;
        }
        
        @media (max-width: $smaller){
            display: none;
        }
    }
    
    @media (max-width: $smaller){
        @include flex(space-between, center, column);
        
        &Left, &Right{
            width: 100%;
            padding: 0;
            margin: 0;
            max-height: 40vh;
        }
        
        &Left{
            height: auto;
            margin-bottom: $offset3;
        }
        
        width: 85vw;
        padding: $offset1;
        // overflow: auto;
        // &Left{
        //     padding-right: $offset4;
        // }
        // 
        // &Right{
        //     margin-left: $offset5;
        //     width: 50%;
        //     height: 100%;
        // }
    }
}











