.ModalTitle{
    background-color: var(--colorBody);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 #fff, 0 0 0 100vmax #000a;
    z-index: var(--zModal);
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    
    &Wrapper{
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.CloseBtn{
    background-color: var(--colorBody);
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    $res: 40px;
    font-size: 32px;
    color: var(--colorText);
    width: $res;
    height: $res;
    border-radius: 50%;
    border: 3px solid var(--colorText);
    transition-duration: var(--defaultTransitionTime);
    
    &:hover{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(50%, -50%) rotate(180deg) scale(1.25);
        color: var(--colorBright);
        border-color: var(--colorBright);
    }
}

.Title{
    display: flex;
    justify-content: center;
    align-items: stretch;
    
    &Left{
        width: 50%;
        height: 100%;
    }
    
    &Right{
        margin-left: 30px;
        width: 50%;
        height: 100%;
    }
    
    &Name{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 10px;
        max-width: 100%;
    }
    
    &Thumb{
        width: 100%;
        border-radius: 10px;
    }
    
    &Info{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &Label{
            font-style: italic;
        }
        
        &Content{
            margin-left: 20px;
        }
    }
    
    &Tag{
        margin-right: 10px;
        &s{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
        }
    }
    
    &Rates{
        &Yours{
            margin-top: 30px;
        }
        
        &Label{
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    
    &Descr{
        margin-top: 20px;
        &Label{
            
        }
        
        &Content{
            $max: 550px;
            font-style: italic;
            padding: 10px;
            &Wrapper{
                overflow: hidden;
                max-height: $max;
            }
            overflow: auto;
            max-height: $max;
        }
    }
}











