.Auth{
    &Btn{
        font-size: 20px;
        color: var(--colorText);
        border: 2px solid var(--colorText);
        border-radius: 100vmax;
        padding: 5px 10px;
        box-shadow: var(--makeOutset);
        
        transition-duration: var(--defaultTransitionTime);
        &:hover{
            color: var(--colorTextPlus);
            border-color: var(--colorTextPlus);
        }
        &:active{
            color: var(--colorBright);
            border-color: var(--colorBright);
        }
    }
}